<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotv.springboot.mapper.UserMapper">
	<!--根据id查询用户详情 -->
	<select id="getUserById" parameterType="string" resultType="com.hotv.springboot.entity.User">
		SELECT * FROM user WHERE userId=#{userId}
	</select>
	
	<!--获取用户列表 -->
	<select id="getList" resultType="com.hotv.springboot.entity.User">
		SELECT * FROM user 
	</select>
	
	<!--根据username获取用户 主要是使用QueryFilter -->
	<select id="getUserByUsername" parameterType="filter" resultType="com.hotv.springboot.entity.User">
		SELECT * FROM user where username = #{username}
	</select>
</mapper>